<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Podstaw: {{HOME}} {{VAULT}} {{HOST}} {{INTERVAL}} {{PROMOTE_SH}}
     Instalacja:  cp -> ~/Library/LaunchAgents/tech.nobrainer.wiki-promoter.plist
     Aktywacja (za zgodą usera): launchctl load ~/Library/LaunchAgents/tech.nobrainer.wiki-promoter.plist -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>tech.nobrainer.wiki-promoter</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>{{PROMOTE_SH}}</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>VAULT</key><string>{{VAULT}}</string>
    <key>HOST</key><string>{{HOST}}</string>
    <key>PATH</key><string>{{HOME}}/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartInterval</key>
  <integer>{{INTERVAL}}</integer>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>{{HOME}}/.nobrainer-wiki/promoter.out.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/.nobrainer-wiki/promoter.err.log</string>
</dict>
</plist>
